.header{
    display: flex;
    justify-content: center;
    background-color: #082730;
    padding: 24px;
    font-family: Roboto, sans-serif;
    
    &__container{
        width: 100%;

        &__list{
            display: flex;
            list-style: none;
            justify-content: center; 
            gap: 40px;

            &__item{
                list-style: none;

                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}